<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SEO Meta Tags-->
    <meta name="description" content="LuoCore">
    <meta name="keywords" content="LuoCore">
    <meta name="author" content="Luo">
    <!-- 图标-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <!--Windows 8 磁贴图标-->
    <meta name="msapplication-TileColor" content="#ffffff">
    <!--浏览器地址栏变色-->
    <meta name="theme-color" content="#ffffff">

    <title>@ViewData["Title"]</title>

    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <!-- 样式: 字体图标 插件,等等.-->
    <link href="~/lib/cartzilla/vendor/simplebar/dist/simplebar.min.css" rel="stylesheet" media="screen" />
    <link href="~/lib/cartzilla/vendor/tiny-slider/dist/tiny-slider.css" rel="stylesheet" media="screen" />
    <link href="~/lib/cartzilla/vendor/lightgallery.js/dist/css/lightgallery.min.css" rel="stylesheet" media="screen" />
    <!-- 主要的样式 + Bootstrap-->
    <link href="~/lib/cartzilla/css/theme.min.css" rel="stylesheet" media="screen" />


</head>
<body class="handheld-toolbar-enabled">
    <header class="bg-light shadow-sm navbar-sticky">
        @await Component.InvokeAsync("TopBar")
        <!--删除“navbar sticky”类，使导航栏可以随页面滚动。-->
        @await Component.InvokeAsync("Navigation")

    </header>

    @RenderBody()


    <partial name="Components/_FooterPage" />
    @await Component.InvokeAsync("HandheldDevicesToolbar")
    <partial name="Components/_BackToTop" />


    <!-- JavaScript: Js库和插件-->
    <script src="~/lib/cartzilla/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/cartzilla/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="~/lib/cartzilla/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="~/lib/cartzilla/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <!--主要的JS-->
    <script src="~/lib/cartzilla/js/theme.min.js"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
