@model ViewModels.ResultListVm<EntitysModels.WebSite_Menu>

<div class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand d-none d-sm-block me-4 order-lg-1" href="index.html">
            <img src="img/logo-dark.png" width="142" alt="Cartzilla">
        </a>
        <a class="navbar-brand d-sm-none me-2 order-lg-1" href="index.html">
            <img src="img/logo-icon.png" width="74" alt="Cartzilla">
        </a>
        <div class="navbar-toolbar d-flex align-items-center order-lg-3">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="btn btn-primary btn-shadow" href="https://themes.getbootstrap.com/product/cartzilla-bootstrap-e-commerce-template-ui-kit/" target="_blank" rel="noopener">
                <i class="ci-cart me-2"></i>Luo Core
            </a>
        </div>
        <div class="collapse navbar-collapse me-auto order-lg-2" id="navbarCollapse">
            <hr class="my-3">
            <!-- Primary menu 主菜单-->
            <ul class="navbar-nav">
                @if (Model != null && Model.Status && Model.Datas.Count > 0)
                {

                    var actionURL = ViewContext.RouteData.Values["Controller"];
                    <web-site-menu menu-list="@Model.Datas" url-path="@ViewData["Title"]"></web-site-menu>
                }
            </ul>
        </div>
    </div>
</div>