@{
    ViewData["Title"] = "文章管理";
    Layout = "~/Views/Shared/_LayuiLayout.cshtml";
}

<div class="layui-form layui-container layui-form-pane" lay-filter="form-RequestData" id="form-RequestData">

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">文章标题</label>
        <div class="layui-input-block">
            <input type="text" name="ArticleTitle" lay-verify="required" placeholder="请输入权限名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">选择分类</label>
        <div class="layui-input-block">
            <div id="LabelsSelectBox"  class="xm-select-demo"></div>
        </div>
    </div>


    <div class="layui-form-item" pane>
        <label class="layui-form-label">是否有效</label>
        <div class="layui-input-inline">
            <input name="IsValid" value="true" type="checkbox" lay-filter="switch" lay-skin="switch" lay-text="是|否" checked />
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">文章内容</label>
        <div class="layui-input-block" style="background-color: #fff;">
            <div id="articleConten" name="ArticleConten"></div>
        </div>
    </div>




    <div class="layui-form-item layui-hide">
        <button class="layui-btn" lay-submit lay-filter="luo-submit" id="luo-submit">提交</button>
    </div>

</div>

@section scripts{
    <script src="~/lib/wangeditor/dist475/wangEditor.js"></script>
    <script>
        layui.extend({
            xmSelect: '/lib/layuiExtend/xm-select/xm-select'
        });
        const wangE = new window.wangEditor('#articleConten');
        function ShowDialog_Load(formobj) {

            debugger;
            layui.use(['jquery', 'form',  'xmSelect'], function () {
                var $ = layui.$,
                    form = layui.form,
                    xmSelect = layui.xmSelect;

                



                var LablesSelectBox = xmSelect.render({
                    el: '#LabelsSelectBox',
                    name: "LabelsSelectBox",
                    model: { label: { type: 'text' } },
                    tree: {
                        //是否显示树状结构
                        show: true,
                        //是否展示三角图标
                        showFolderIcon: true,
                        //是否显示虚线
                        showLine: true,
                        //间距
                        indent: 10,
                        //默认展开节点的数组, 为 true 时, 展开所有节点
                        expandedKeys: true,
                        //是否严格遵守父子模式
                        strict: false,
                        //是否开启极简模式
                        simple: false,
                        //点击节点是否展开
                        clickExpand: true,
                        //点击节点是否选中
                        clickCheck: true
                    },
                    height: 'auto'
                });
                //选择父级权限
                $.ajax({
                    type: "get",
                    url: "/Blog/ArticleManage/GetBlogLabelsSelectBox",
                    data: { ArticleId: formobj.articleId},
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        LablesSelectBox.update({
                            data: result,
                            autoRow: true,
                        });
                    },
                    error: function (jqXHR) {
                        alert("发生错误：" + jqXHR.status);
                    }
                });


                
                wangE.config.uploadImgServer = '/Blog/ArticleManage/UploadImage';
                
                wangE.config.uploadVideoServer = '/api/upload-video';
                wangE.create();

                if (formobj != null && formobj != undefined && formobj != "") {
                    //给表单赋值
                    form.val("form-RequestData", {
                        "ArticleTitle": formobj.articleTitle,
                        "IsValid": formobj.isValid
                    });
                    wangE.txt.html(formobj.articleConten)
                }

            });
        }
        function GetWangEditorHtml() {
            return wangE.txt.html();
        }
    </script>
}