@{
    ViewData["Title"] = "角色管理";
    Layout = "~/Areas/Admin/Views/Shared/_LayuiLayout.cshtml";
}

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">

            <div class="layui-form-item">
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-event" data-type="query">查询</button>
                <button class="layui-btn layuiadmin-btn-event layui-btn-danger" data-type="delete">删除</button>
                <button class="layui-btn layuiadmin-btn-event" data-type="add">添加</button>
                <button class="layui-btn layuiadmin-btn-event" data-type="editRolePermission">权限编辑</button>
            </div>

            <table class="layui-table" id="dataTable" lay-filter="dataTable"></table>

            <script type="text/html" id="switchIsValid">
                <input type="checkbox" name="isValid" value="{{d.isValid}}" lay-skin="switch" lay-text="是|否" lay-filter="isValid" {{ d.isValid == true ? 'checked' : '' }}>
            </script>

            <script type="text/html" id="table-action">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>


    </div>
</div>




@section scripts{
    <script>
        layui.use(['jquery', 'table'], function () {
            let $ = layui.jquery,
                table = layui.table;


            const [SelectBoxURL, TableURL, ShowDialogURL, ShowRolePermissionDialogURL, CreateURL, UpdateURL, DeleteURL] = [
                "/Admin/SystemBasis/PermissionSelectBox",
                '/Admin/SystemBasis/RoleTable',
                '/Admin/SystemBasis/RoleDialog',
                '/Admin/SystemBasis/RolePermissionDialog',
                "/Admin/SystemBasis/RoleCreate",
                "/Admin/SystemBasis/RoleUpdateById",
                '/Admin/SystemBasis/RoleDeleteByIds'
            ];

            // 字段配置
            const tableCols = [[
                { type: 'checkbox', fixed: 'left' },
                { field: 'roleId', title: '权限名称' },
                { field: 'roleName', title: '权限类型' },
                { field: 'roleDescription', title: '权限动作' },
                { field: 'isValid', title: '是否有效', templet: '#switchIsValid' },
                { title: '操作', width: 150, align: 'center', fixed: 'right', toolbar: '#table-action' }
            ]];

            table.render({
                elem: '#dataTable',
                title: '角色数据表',
                totalRow: true,
                height: 'full-200',
                cellMinWidth: 80,
                cols: tableCols,
                loading: false,
                page: true
            });

            $('.layui-btn.layuiadmin-btn-event').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
            //按钮事件
            let active = {
                query: () => {
                    table.reload('dataTable', {
                        url: TableURL,
                        method: "get",
                        request: {
                            pageName: 'PageIndex', //页码的参数名称，默认：page
                            limitName: 'PageSize' //每页数据量的参数名，默认：limit
                        },
                        where: {
                            RoleId: "",
                            RoleName: "",
                            IsValid: null,
                            StartTime: null,
                            EndTime: null,
                        }
                    });
                },
                delete: () => {
                    let checkData = permissionTable.checkStatus(false);
                    let permissionIds = new Array()
                    for (var i = 0; i < checkData.length; i++) {
                        permissionIds.push(checkData[i].permissionId);
                    }
                    //执行 Ajax 后重载
                    DeleteAction(permissionIds);
                },
                add: () => ShowDialogAction(),
                editRolePermission: function () { ShowDialogRolePermissionAction(); }
            }
            //显示弹出框
            const ShowDialogAction = (formObj) => {

                let ActionUrl = CreateURL;
                let formTitle = "添加权限";
                let actionType = "POST"
                let identification = "";
                if (formObj != null && formObj != undefined) {
                    ActionUrl = UpdateURL;
                    formTitle = "编辑权限"
                    actionType = "Put"
                    identification = formObj.permissionId;
                }

                let index = layer.open({
                    type: 2,
                    title: formTitle,
                    area: ['auto'],
                    offset: '10%',
                    content: ShowDialogURL,
                    btn: ['确定', '取消'],
                    success: (layero, index) => {
                        var iframe = window['layui-layer-iframe' + index];
                        iframe.ShowDialog_Load(formObj);
                        //对加载后的iframe进行宽高度自适应
                        layer.iframeAuto(index);
                    },
                    yes: function (index, layero) {
                        let iframeWindow = window['layui-layer-iframe' + index]
                            , submit = layero.find('iframe').contents().find("#luo-submit");

                        //监听提交
                        iframeWindow.layui.form.on('submit(luo-submit)', function (data) {

                            let field = data.field; //获取提交的字段

                            let requestData = {
                                RoleId: identification,
                                RoleName: field.RoleName,
                                RoleDescription: field.RoleDescription,
                                IsValid: field.IsValid,
                            };
                            console.log("请求字段;" + requestData);
                            //提交 Ajax 成功后，静态更新表格中的数据
                            $.ajax({
                                type: actionType,
                                url: ActionUrl,
                                data: requestData,
                                dataType: "json",
                                success: function (result) {
                                    console.log(result);
                                    if (result.status) {
                                        table.reload('dataTable');
                                        layer.close(index); //关闭弹层
                                    }
                                    else {
                                        layer.alert(result.messages);
                                    }
                                },
                                error: function (jqXHR) {
                                    alert("发生错误：" + jqXHR.status);
                                }
                            });
                        });
                        submit.trigger('click');
                    }
                });
                layer.iframeAuto(index);
            };


            const ShowDialogRolePermissionAction = (formObj) => {

                let ActionUrl = CreateURL;
                let formTitle = "添加权限";
                let actionType = "POST"
                let identification = "";
                if (formObj != null && formObj != undefined) {
                    ActionUrl = UpdateURL;
                    formTitle = "编辑权限"
                    actionType = "Put"
                    identification = formObj.permissionId;
                }

                let index = layer.open({
                    type: 2,
                    title: formTitle,
                    area: ['auto','60%'],
                    offset: '10%',
                    content: ShowRolePermissionDialogURL,
                    btn: ['确定', '取消'],
                    success: (layero, index) => {
                        var iframe = window['layui-layer-iframe' + index];
                        iframe.ShowDialog_Load(formObj);
                       
                    },
                    yes: function (index, layero) {
                        let iframeWindow = window['layui-layer-iframe' + index]
                            , submit = layero.find('iframe').contents().find("#luo-submit");

                        //监听提交
                        iframeWindow.layui.form.on('submit(luo-submit)', function (data) {

                            let field = data.field; //获取提交的字段

                            let requestData = {
                                RoleId: identification,
                                RoleName: field.RoleName,
                                RoleDescription: field.RoleDescription,
                                IsValid: field.IsValid,
                            };
                            console.log("请求字段;" + requestData);
                            //提交 Ajax 成功后，静态更新表格中的数据
                            $.ajax({
                                type: actionType,
                                url: ActionUrl,
                                data: requestData,
                                dataType: "json",
                                success: function (result) {
                                    console.log(result);
                                    if (result.status) {
                                        table.reload('dataTable');
                                        layer.close(index); //关闭弹层
                                    }
                                    else {
                                        layer.alert(result.messages);
                                    }
                                },
                                error: function (jqXHR) {
                                    alert("发生错误：" + jqXHR.status);
                                }
                            });
                        });
                        submit.trigger('click');
                    }
                });
                layer.iframeAuto(index);
            };


        })
    </script>
}


