
@{
    ViewData["Title"] = "SystemLinkDialog";
    Layout = "~/Views/Shared/_LayuiLayout.cshtml";
}

<div style="margin-top:1.5rem" class="layui-form board layui-form-pane" lay-filter="form-RequestData" id="form-RequestData">

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">联系名称</label>
        <div class="layui-input-block">
            <input type="text" name="LinkName" lay-verify="required" placeholder="联系方式名称" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">联系方式</label>
        <div class="layui-input-block">
            <input type="text" name="LinkUrl" lay-verify="required" placeholder="联系方式" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">联系图标</label>
        <div class="layui-input-block">
            <input type="text" name="LinkIco" value="layui-icon layui-icon-username" placeholder="请选择" maxlength="16" autocomplete="off" class="layui-input" id="LinkIco" />
        </div>
     
    </div>


    <div class="layui-form-item" pane>
        <label class="layui-form-label">是否有效</label>
        <div class="layui-input-inline" pane>
            <input name="IsValid" value="true" type="checkbox" lay-filter="switch" lay-skin="switch" lay-text="是|否" checked />
        </div>
    </div>


    <div class="layui-form-item layui-hide">
        <button class="layui-btn" lay-submit lay-filter="luo-submit" id="luo-submit">提交</button>
    </div>

</div>

@section scripts
{
    <script>
        layui.extend({
            iconSelected: '/lib/layuiExtend/iconSelected/js/iconSelected'
        });
        function ShowDialog_Load(formobj) {
            layui.use(['jquery', 'form', 'iconSelected', 'layer'], function () {
                const iconSelected = layui.iconSelected,
                    form = layui.form,
                    layer = layui.layer,
                    $ = layui.$;

                //给表单赋值
                form.val("form-RequestData", {
                    "LinkName": formobj.linkName,
                    "LinkUrl": formobj.linkUrl,
                    "LinkIco": formobj.linkIco,
                    "IsValid": formobj.isValid
                });
                iconSelected.init("#LinkIco", {
                    event: {
                        select(event, data) {
                            debugger;
                            console.log("选中的图标数据", { event, data });
                        },
                    },
                });
                
              
            });
        };
    </script>

}