@{
    ViewData["Title"] = "用户信息";
    Layout = "~/Areas/Admin/Views/Shared/_LayuiLayout.cshtml";
}

<div class="layui-form layui-container layui-form-pane" lay-filter="form-RequestData" id="form-RequestData">

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">用户名称</label>
        <div class="layui-input-block">
            <input type="text" name="UserName" lay-verify="required" placeholder="请输入用户名称" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline" style="width: 100px;">
            <input type="text" name="Password" placeholder="请填写密码" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label layui-form-mid">确认密码</label>
        <div class="layui-input-inline" style="width: 100px;">
            <input type="text" name="PasswordVerify" placeholder="请填写密码" autocomplete="off" class="layui-input">
        </div>
    </div>




    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">用户真实名称</label>
        <div class="layui-input-block">
            <input type="text" name="UserRealName" lay-verify="required" placeholder="请输入用户真实名称" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
            <input type="text" name="Email" lay-verify="email" placeholder="邮箱" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">手机</label>
        <div class="layui-input-block">
            <input type="text" name="Phone" lay-verify="required|phone" placeholder="手机" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item" pane>
        <label class="layui-form-label" style="width:80px">单选框</label>
        <div class="layui-input-block" style="margin-left: 80px;">
            <input type="radio" name="Sex" value="1" title="男" checked="">
            <input type="radio" name="Sex" value="2" title="女">
        </div>
    </div>

    <div class="layui-form-item" pane>
        <label class="layui-form-label">是否有效</label>
        <div class="layui-input-inline">
            <input name="IsValid" value="true" type="checkbox" lay-filter="switch" lay-skin="switch" lay-text="是|否" checked />
        </div>
    </div>


    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-block">
            <div id="RoleSelect" class="xm-select-demo"></div>
        </div>
    </div>



    <div class="layui-form-item layui-hide">
        <button class="layui-btn" lay-submit lay-filter="luo-submit" id="luo-submit">提交</button>
    </div>

</div>


@section scripts
{
    <script>
        layui.config({
            base: '/lib/layuiExtend/' //假设这是你存放拓展模块的根目录
        }).extend({ //设定模块别名
            xmSelect: 'xm-select/xm-select' //如果 mymod.js 是在根目录，也可以不用设定别名
        });
        function ShowDialog_Load(formobj) {

            debugger;
            console.log("用户进来后的值：" + formobj);
            layui.use(['jquery', 'form', 'layer', 'xmSelect'], function () {
                let $ = layui.jquery,
                    form = layui.form,
                    layer = layui.layer,
                    xmSelect = layui.xmSelect;

                if (formobj != null && formobj != undefined && formobj != "") {
                    //给表单赋值
                    form.val("form-RequestData", {
                        "UserName": formobj.userName,
                        "UserRealName": formobj.userRealName,
                        "Email": formobj.email,
                        "Phone": formobj.phone,
                        "Sex": formobj.sex,
                        "IsValid": formobj.isValid
                    });
                }


                var RoleInfoSelect = xmSelect.render({
                    el: '#RoleSelect',
                    name: "RoleSelect",
                    tree: {
                        //是否显示树状结构
                        show: true,
                        //是否展示三角图标
                        showFolderIcon: true,
                        //是否显示虚线
                        showLine: true,
                        //间距
                        indent: 10,
                        //默认展开节点的数组, 为 true 时, 展开所有节点
                        expandedKeys: true,
                        //是否严格遵守父子模式
                        strict: false,
                        //是否开启极简模式
                        simple: false,
                        //点击节点是否选中
                        clickCheck: false
                    },
                    height: 'auto'
                });


                $.ajax({
                    type: "get",
                    url: "/Admin/SystemBasis/GetValidRoleSelectBox",
                    dataType: "json",
                    data: { userId: formobj.userId},
                    async: false,
                    success: function (resultData) {

                        if (resultData.status) {
                            RoleInfoSelect.update({
                                data: resultData.data
                            })
                        }
                        else {
                            layer.msg("角色加载失败：" + resultData.messages, {
                                time: 20000, //20s后自动关闭
                                btn: ['明白了', '知道了', '哦']
                            });
                        }
                    },
                    error: function (jqXHR) {
                        alert("发生错误：" + jqXHR.status);
                    }
                });


            });

        }
    </script>

}