
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayuiLayout.cshtml";
}

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">

        <!-- 头部区域 Start-->
        @await Component.InvokeAsync("Header")
        <!-- 头部区域 End-->
        <!-- 侧边菜单 Start-->
        @await Component.InvokeAsync("SideMenu")
        <!-- 侧边菜单 End-->
        <!-- 页面标签 Start-->
        <partial name="_PageTabs" />
        <!-- 页面标签 End-->
        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="/Admin/Main/Welcome" class="layadmin-iframe" frameborder="0"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
            layui.config({
                base: '/lib/layuiadmin/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use('index');
    </script>
}